<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="observation_viewer.css">
    <title>Unidentified Observations</title>
  </head>
  <body>
    <div class="row">
        {% for chunk in observation_chunks %}
        <div class="col-xl-3 col-lg-12 col-md-12 sol-sm-12 mb-4">
            {% for observation in chunk %}
            <div class="container mb-4">
                <div class="hover_container">
                    <!--Image-->
                    <div class="image_container">
                        <a href="https://www.inaturalist.org/observations/{{ observation['id'] }}">
                          <img src="{{ observation['photo.url'] }}" class="img-fluid mb-4">
                        </a>
                    </div>

                    <!--More details on hover-->
                    <a href="https://www.inaturalist.org/observations/{{ observation['id'] }}">
                        <div class="hover_overlay">
                            <br><b>IDs:</b>
                            {{ observation['num_identification_agreements'] }} agreements,
                            {{ observation['num_identification_disagreements'] }} disagreements
                            <br><b>Created at:</b> {{ observation['created_at'] }}
                            <br><b>Updated at:</b> {{ observation['updated_at'] }}
                            <br><b>Ranking values:</b>
                            {% for k, v in observation['ranking_values'].items() %}
                            {{ '<br>&emsp;<b>' + k + ':</b> ' + v }}
                            {% endfor %}
                            <br><b>Description:</b> {{ observation['description'] }}
                        </div>
                    </a>
                </div>

                <!--Basic details-->
                <div>
                    <h5><b>{{ observation['taxon.rank'].title() }}:</b>
                        <a href="https://www.inaturalist.org/taxa/{{ observation['taxon.id'] }}">
                            {{ observation['taxon.formatted_name'] }}
                        </a>
                    </h5>
                    <p>
                        <b>Observed by:</b>
                        <a href="https://www.inaturalist.org/people/{{ observation['user.id'] }}">
                          {{ observation['user.login'] or 'unknown' }}
                        </a>
                        on {{ observation['observed_on'] }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
      </div>

    <!-- Import jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
